{{>header}}
<title>BabyCare - {{title}}</title>
{{>navbar}}

{{>hero}}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9">
            <h5 class="text-center text-light p-2 bg-primary"> Create Program <a href="/admin/program"
                    class="float-end text-light fs-5">Back</a></h5>
            <form action="/admin/program/store" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label>Name*</label>
                    <input type="text" name="name" value="{{data.name}}" placeholder="Full Name"
                        class="form-control border-primary border-3">
                    {{#if errorMessage.name}}<p class="text-danger">{{errorMessage.name}}</p>{{/if}}
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-3">
                        <label>Fee</label>
                        <input type="number" name="fee" value="{{data.fee}}" placeholder="Total Fee"
                            class="form-control border-primary border-3">
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <label>Seats</label>
                        <input type="number" name="seats" value="{{data.seats}}" placeholder="Seats"
                            class="form-control border-primary border-3">
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <label>Duration(Hours)</label>
                        <input type="number" name="duration" value="{{data.duration}}" placeholder="Duration In Hours"
                            class="form-control border-primary border-3">
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <label>Cover*</label>
                        <input type="file" name="cover" class="form-control border-primary border-3">
                        {{#if errorMessage.cover}}<p class="text-danger">{{errorMessage.cover}}</p>{{/if}}
                    </div>
                </div>
                <div class="mb-3">
                    <label>Short Description*</label>
                    <textarea name="shortDescription" placeholder="shortDescription...." rows="4"
                        class="form-control border-3 border-primary">{{data.shortDescription}}</textarea>
                    {{#if errorMessage.shortDescription}}<p class="text-danger">{{errorMessage.shortDescription}}</p>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label>Long Description*</label>
                    <textarea name="longDescription" style="border:3px solid #FF4880 !important" id="div_editor1"
                        placeholder="longDescription...." rows="4"
                        class="form-control border-3 border-primary">{{data.longDescription}}</textarea>
                    {{#if errorMessage.longDescription}}<p class="text-danger">{{errorMessage.longDescription}}</p>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label>Meta Title*</label>
                    <textarea name="metaTitle" placeholder="metaTitle...." rows="4"
                        class="form-control border-3 border-primary">{{data.metaTitle}}</textarea>

                </div>
                <div class="mb-3">
                    <label>Meta Description*</label>
                    <textarea name="metaDescription" placeholder="metaDescription...." rows="4"
                        class="form-control border-3 border-primary">{{data.metaDescription}}</textarea>
                </div>
                <div class="mb-3">
                    <label>Meta Keywords*</label>
                    <textarea name="metaKeywords" placeholder="metaKeywords...." rows="4"
                        class="form-control border-3 border-primary">{{data.metaKeywords}}</textarea>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label>Active</label>
                        <select name="active" class="form-select border-3 border-primary">
                            <option value="1" {{dropdownHelper data.active true}}>Yes</option>
                            <option value="0" {{dropdownHelper data.active false}}>No</option>
                        </select>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label>sortOrder</label>
                        <input type="number" name="sortOrder" placeholder="Sort Order" value="{{data.sortOrder}}"
                            class="form-control border-primary border-3">
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}