{{>header}}
<title>BabyCare - {{title}}</title>
{{>navbar}}

{{>hero}}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9">
            <h5 class="text-center text-light p-2 bg-primary"> Update Testimonial <a href="/admin/testimonial"
                    class="float-end text-light fs-5">Back</a></h5>
            <form action="/admin/testimonial/update/{{data._id}}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Name*</label>
                        <input type="text" name="name" value="{{data.name}}" placeholder="Full Name"
                            class="form-control border-primary border-3">
                        {{#if errorMessage.name}}<p class="text-danger">{{errorMessage.name}}</p>{{/if}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Profession*</label>
                        <input type="text" name="profession" value="{{data.profession}}" placeholder="Profession"
                            class="form-control border-primary border-3">
                        {{#if errorMessage.profession}}<p class="text-danger">{{errorMessage.profession}}</p>{{/if}}
                    </div>
                </div>
                <div class="mb-3">
                    <label>Message*</label>
                    <textarea name="message" placeholder="Message...." rows="4"
                        class="form-control border-3 border-primary">{{data.message}}</textarea>
                    {{#if errorMessage.message}}<p class="text-danger">{{errorMessage.message}}</p>{{/if}}

                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-3">
                        <label>pic*</label>
                        <input type="file" name="pic" class="form-control border-primary border-3">
                        {{#if errorMessage.pic}}<p class="text-danger">{{errorMessage.pic}}</p>{{/if}}
                    </div>
                    <div class="col-md-4 col-sm-6 mb-3">
                        <label>Active</label>
                        <select name="active" class="form-select border-3 border-primary">
                            <option value="1" {{dropdownHelper data.active true}}>Yes</option>
                            <option value="0" {{dropdownHelper data.active false}}>No</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-3">
                        <label>sortOrder</label>
                        <input type="number" name="sortOrder" placeholder="Sort Order" value="10"
                            class="form-control border-primary border-3">
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}